@model FavoriteRestaurantsCapstone.Models.Restaurants

@{ ViewData["Title"] = "Delete"; }
<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
<html>
<body>


    <h1>Delete</h1>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Restaurants</h4>
        <hr />
        <div class="ui grid">
            <div class="four wide grey column">
                @Html.DisplayNameFor(model => model.RestaurantName)
            </div>
            <div class="four wide yellow column">
                @Html.DisplayFor(model => model.RestaurantName)
            </div>
            <div class="four wide grey column">
                @Html.DisplayNameFor(model => model.StreetAddress)
            </div>
            <div class="four wide yellow column">
                @Html.DisplayFor(model => model.StreetAddress)
            </div>
            <div class="four wide grey column">
                @Html.DisplayNameFor(model => model.City)
            </div>
            <div class="four wide yellow column">
                @Html.DisplayFor(model => model.City)
            </div>
            <div class="four wide grey column">
                @Html.DisplayNameFor(model => model.CuisineType)
            </div>
            <div class="four wide yellow column">
                @Html.DisplayFor(model => model.CuisineType)
            </div>
            <div class="four wide grey column">
                @Html.DisplayNameFor(model => model.AverageCost)
            </div>
            <div class="four wide yellow column">
                @Html.DisplayFor(model => model.AverageCost)
            </div>
            <div class="four wide grey column">
                @Html.DisplayNameFor(model => model.MenuItems)
            </div>
            <div class="four wide yellow column">
                @Html.DisplayFor(model => model.MenuItems)
            </div>
        </div>
    </div>
    <hr />

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="ui button red" /> |
        <a class="ui button grey" asp-action="Index">Back</a>
    </form>
</body>
</html>